.top-panel {
  display: flex;
  color: white;
  background-color: #222;
  height: 80px;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;
}
.button {
  color: white;
  font-size: 32px;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  padding: 30px;
}

.main-part {
  display: flex;
  line-height: 1.5;
  flex-direction: row;
  border-top: 80px solid white;
  margin-top: 0px;
}

.header-box {
  position: absolute;
  top: 320px;
}

.left {
  width: 320px;
}

.right {
  width: 450px;
  padding: 30px 20px;
}

#header {  
  background-image: url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h1 {
  font-size: 64px;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  color: #222;
  margin-top: 0px;
  margin-left: 50px;
  line-height: 1.0;
}
h2 {
  font-size: 36px;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  color: #222;
  margin-bottom: 0px;
  margin-left: 50px;
}
h3 {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 50px;
  font-size: 24px;
}
h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  line-height: 1.5;
}
h5 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  margin-top: -30px;
}
#bio {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22;
}
#achievements p, #experience p, #training p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

blockquote::before {
  content: '”';
  position: absolute;
  top: -40px;
  left: 0px;
  font-size: 140px;
  
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  font-size: 48px;
  background-color: #222;
  color: white;
  padding: 50px;
  position: relative;
  margin: 0px;
}

ul {
  font-family: 'Josefin Sans', sans-serif;
  list-style-type: square;
}

.main-page {
  margin-top: -10px;
  margin-left: 200px;
  margin-right: 200px;
  position: relative;
}